body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #333;
}

.hinhanh{
	width: 260px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	margin: 0 20px;
}

.hinhanh img{
	width: 100%;
}

.hinhanh::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: grayscale(100%);
	transition: 0.6s linear;
}
.hinhanh:hover::before{
	width: 0;
}
.hinhanh:nth-child(1)::before{
	background-image: url(1.jpg);
}
.hinhanh:nth-child(2)::before{
	background-image: url(2.jpg);
}
.hinhanh:nth-child(3)::before{
	background-image: url(3.jpg);
}
