*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	display: flex;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: url(back.jpg) no-repeat center;
}
.wrapper{
	max-width: 1130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wrapper .card{
	width: calc(33% - 13px);
	border-radius: 3px;
	background: #fff;
}
.wrapper .card img{
	width: 100%;
	border-radius: 3px;
}
.wrapper .card .content{
	padding: 10px 20px 22px 20px;
}
.card .content .row,
.card .content .buttons{
	display: flex;
	justify-content: space-between;
}
.content .row .details span{
	font-size: 22px;
	font-weight: 500;
}
.content .row .details p{
	color: #333;
	font-size: 17px;
	font-weight: 400;
}
.content .buttons{
	margin-top: 20px;
}
.content .buttons button{
	width: 100%;
	outline: none;
	padding: 10px 0;
	font-size: 17px;
	font-weight: 500;
	border-radius: 3px;
	border: 2px solid #ff7979;
	cursor: pointer;
}
.buttons button:first-child{
	color: #ff7979;
	background: #fff;
	margin-right: 10px;
}
.buttons button:last-child{
	color: #fff;
	background: #ff7979;
	margin-left: 10px;
}
